<div><h1>All Customers</h1></div>
<hr>

<% for customer in @customers %>

<div class ="customer"><p>Name: <%= customer.pretty_name() %></p></div>
<div class = "viewcusbutton"><p><a href="/animal-shelter/customer/<%= customer.id %>/view">View Customer details</a> </p></div>
<hr/>

<% end %>

<div ><ul id ="newcus">
  <li><a href="/animal-shelter/customer/new">Add a new customer </a></li>
</ul></div>
