<div class ="homepage_heading"><img src= "/head.png" width ="700" height ="200"></div>

<div><h2>Welcome! We save all kinds of Creatures, check them out, book an appointment with us, and you could take one home!</h2></div>
