<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
</head>
  <link rel ="stylesheet" href = "/style.css"/>
<body>
  <nav>
    <!-- <ul> -->
      <!-- <li><a href="/pizza-orders">View All Pizza Orders</a> -->
      <!-- </li>
      <li><a href="/pizza-orders/new">Add a New Order</a>
      </li> -->
    <!-- </ul> -->
  </nav>
  <%= yield %>
</body>
</html>
