<!DOCTYPE html>
<html>
<head>
  <title>Animal Shelter</title>
</head>
  <link rel ="stylesheet" href = "/style.css"/>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/customer-list">Customers</a></li>
      <li><a href="/animal-shelter">Animals</a></li>
      <li><a href="/animal-shelter/new">Do you have a creature to bring in?</a></li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
