<!DOCTYPE html>
<html>
<head>
  <div><title>Creatures R us</title></div>
    <link rel ="stylesheet" href ="/style.css"/>
</head>
<body>
  <nav>
    <div><ul>
      <li><a href="/">Home</a></li>
      <li><a href="/customer-list">Customers</a></li>
      <li><a href="/animal-shelter">Creatures</a></li>
      <li><a href="/animal-shelter/new">Do you have a creature to bring in?</a></li>
    </ul></div>
  </nav>
  <%= yield %>
</body>
</html>
