
label {
color: white;
font-size: 20px;
font-weight: bold;
display: block;
width: 300px;
position: relative;
text-align: left;
padding: 12px 12px 12px 0;
}

p{
  color :white;
  font-size: 20px;
  font-wieght: bold;
}

h1{
  color: #FFD700;
}

h2{
  color: white;
}


img#weeguy{
  width: 200px;
  height: 200px;
}

.cdetails{
  color #FFD700;
}

#viewcreature{
  background-color: #303235;
  background-image: linear-gradient(to bottom,#303235 0,#090c0d 100%);
  color: #303235;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  height: 60px;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

#requirements{
}

#cusinfo{
  background-color: #185409;
}

.creature{
  background-color: darkgreen;
}

.customer{
  background-color: darkgreen;
}

input[type = submit]:hover {
  background-color: #45a049;
}

input[type=submit] {
    width: 100%;
    background-color: #9ACD32;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 0.8em;
 -webkit-appearance: none;
 font-family: 'Merriweather', serif;
 border: 1px solid #eee;
 display: block;
}


input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
  background: url(/jng.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

li#nav_bar {
  background-color: #303235;
  background-image: linear-gradient(to bottom,#303235 0,#090c0d 100%);
  color: #303235;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100px;
  padding: 0;
  margin: 0;
  z-index: 4;
}

a
{
  text-decoration: none;
  color: #ffffff;
}

a
{
  text-decoration: none;
  color: #ffffff;
}

ul
{
  list-style-type: none;
  margin: 15px 15px;
}

ul#newcus{
  font-family: 'Gotham Pro',sans-serif;
  padding: 0px 15px;
  font: bold 20px;
  text-decoration: none;
  background-color: black;
  color: white ;
  padding: 12px 12px 10px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

li.buttons
{
  float: right;
  font-family: 'Gotham Pro',sans-serif;
  padding: 0px 15px;
  font: bold 20px;
  text-decoration: none;
  background-color: black;
  color: white ;
  padding: 12px 12px 10px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


div#crdesc{
  font-family: 'Gotham Pro',sans-serif;
  padding: 0px 15px;
  font: bold 20px;
  text-decoration: none;
  background-color: black;
  color: white ;
  padding: 12px 12px 10px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;

}

div#credet{
  font-family: 'Gotham Pro',sans-serif;
  padding: 0px 15px;
  font: bold 20px;
  text-decoration: none;
  background-color: black;
  color: white ;
  padding: 12px 12px 10px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.viewcusbutton{
  width: 100%;
  background-color: seagreen;
  color: black;
  padding: 5px 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
}

/* forms */
input[type=text], select, textarea{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: both;
  float:left;
  position: relative;
}

input[type=submit] {
  font-size: 30px;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.holds-the-iframe {
  background:url(/loader.gif) center center no-repeat;
 }
